/*

Lavish HTML CSS Template

https://templatemo.com/tm-458-lavish
		
*/

body
{
	background: #000000;
	color: #999;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

/* start all section */
#home,
#home .fp-slide,
#home .fp-tableCell,

#work,
#work .fp-slide,
#work .fp-tableCell,

#about,
#about .fp-slide,
#about .fp-tableCell,

#contact,
#contact .fp-slide,
#contact .fp-tableCell,

#portfolio,
#portfolio .fp-slide,
#portfolio .fp-tableCell,

footer,
footer .fp-slide,
footer .fp-tableCell
{
    height: auto !important;
}

/* end all section */

/* start all heading */
h1,h2,h3,h4,h5
    {
        color: #ffffff;
        font-weight: bold;
    }
/* end all heading */

/* start all section */
#work, #portfolio, #contact
    {
        padding-top: 100px;
        padding-bottom: 120px;
    }
	
	#about
    {
        padding-top: 10px;
        padding-bottom: 10px;
    }
/* end all section */

/* start simpletextrotator */
.rotating {
  display: inline-block;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
  -moz-transform: rotateX(0) rotateY(0) rotateZ(0);
  -ms-transform: rotateX(0) rotateY(0) rotateZ(0);
  -o-transform: rotateX(0) rotateY(0) rotateZ(0);
  transform: rotateX(0) rotateY(0) rotateZ(0);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin-x: 50%;
}

.rotating.flip {
  position: relative;
}

.rotating .front, .rotating .back {
  left: 0;
  top: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.rotating .front {
  position: absolute;
  display: inline-block;
  -webkit-transform: translate3d(0,0,1px);
  -moz-transform: translate3d(0,0,1px);
  -ms-transform: translate3d(0,0,1px);
  -o-transform: translate3d(0,0,1px);
  transform: translate3d(0,0,1px);
}

.rotating.flip .front {
  z-index: 1;
}

.rotating .back {
  display: block;
  opacity: 0;
}

.rotating.spin {
  -webkit-transform: rotate(360deg) scale(0);
  -moz-transform: rotate(360deg) scale(0);
  -ms-transform: rotate(360deg) scale(0);
  -o-transform: rotate(360deg) scale(0);
  transform: rotate(360deg) scale(0);
}

.rotating.flip .back {
  z-index: 2;
  display: block;
  opacity: 1;
  
  -webkit-transform: rotateY(180deg) translate3d(0,0,0);
  -moz-transform: rotateY(180deg) translate3d(0,0,0);
  -ms-transform: rotateY(180deg) translate3d(0,0,0);
  -o-transform: rotateY(180deg) translate3d(0,0,0);
  transform: rotateY(180deg) translate3d(0,0,0);
}

.rotating.flip.up .back {
  -webkit-transform: rotateX(180deg) translate3d(0,0,0);
  -moz-transform: rotateX(180deg) translate3d(0,0,0);
  -ms-transform: rotateX(180deg) translate3d(0,0,0);
  -o-transform: rotateX(180deg) translate3d(0,0,0);
  transform: rotateX(180deg) translate3d(0,0,0);
}

.rotating.flip.cube .front {
  -webkit-transform: translate3d(0,0,100px) scale(0.9,0.9);
  -moz-transform: translate3d(0,0,100px) scale(0.85,0.85);
  -ms-transform: translate3d(0,0,100px) scale(0.85,0.85);
  -o-transform: translate3d(0,0,100px) scale(0.85,0.85);
  transform: translate3d(0,0,100px) scale(0.85,0.85);
}

.rotating.flip.cube .back {
  -webkit-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.9,0.9);
  -moz-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  -ms-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  -o-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
}

.rotating.flip.cube.up .back {
  -webkit-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.9,0.9);
  -moz-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  -ms-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  -o-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
}
/* end simpletextrotator */

/* start home */       
#home
	{
        background: url('../images/home-bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 120px;
        padding-bottom: 140px;
        text-align: center;
	}
#home h1
    {
        border: 2px solid #D43F52;
        color: #D43F52;
        display: inline-block;
        letter-spacing: 6px;
        padding: 25px 35px;
        margin: 30px 0;
    }
#home h2
    {
        padding-bottom: 10px;
    }
    
#home h3
    {
        color: #d33f52;
    }
    
    
#home .btn
    {
        background: transparent;
        border: 2px solid #ffffff;
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
        width: 180px;
        height: 60px;
        margin-top: 40px;
        padding-top: 18px;
        transition: all 0.4s ease-in-out;
    }
#home .btn:hover
    {
        background: #D43F52;
        border-color: transparent;
    }
/* end home */

/* start work */
#work
    {
        background: #1a1a1a;
    }
#work h2
    {
        text-align: center;
    }

#work .media
    {
      margin-top: 30px;
    }
	
#work .media .fa
    {
        border: 2px solid #ffffff;
        border-radius: 50%;
        color: #D43F52;
        font-size: 24px;
        margin-right: 24px;
        width: 60px;
        height: 60px;
        line-height: 55px;
        text-align: center;
        vertical-align: middle;
        transition: all 0.4s ease-in;
    }
#work .media .fa:hover
    {
        background: #ffffff;
        cursor: pointer;
    }
#work .media .media-heading
    {
        font-weight: 600;
        font-size: 20px;
        padding-bottom: 10px;
    }
/* end work */

/* start about */
#about h4
    {
        padding: 15px 0;
		color: #D43F52;
    }
#about .progress
    {
        border-radius: 4px;
        background: #ffffff;
        height: 4px;
    }
#about .progress .progress-bar-danger
    {
        background: #D43F52;
    }
#about .text-top
    {
        padding-top: 20px;
    }
#about span
    {
        color: #ffffff;
        font-weight: bold;
        display: block;
        padding-bottom: 6px;
    }
#about small
    {
        font-weight: bold;
        float: right;
    }
/* end about */

/* start portfolio */
#portfolio
    {
        background: #1a1a1a;
        text-align: center;
    }
#portfolio h2
    {
        padding-bottom: 30px;
    }
#portfolio .portfolio-thumb
    {
        overflow: hidden;
        position: relative;
        margin-bottom: 30px;
    }
#portfolio .portfolio-thumb .portfolio-overlay
    {
        background: #D43F52;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        padding-top: 60px;
        transition: all 0.4s ease-in-out;
    }
#portfolio .portfolio-thumb:hover .portfolio-overlay
    {
        cursor: pointer;
        opacity: 0.8;
        transform: scale(0.9);
    }
/* end portfolio */

/* start contact */

#contact address
    {
      padding-bottom: 18px;
    }
	
#contact .contact-title
    {
		font-size: 24px;
		font-weight: bold;
        padding-bottom: 20px;
		color: #ffffff;
    }
#contact .fa
    {
        border: 2px solid #ffffff;
        border-radius: 50%;
        color: #D43F52;
        width: 50px;
        height: 50px;
        line-height: 45px;
        text-align: center;
        margin-right: 20px;
    }
#contact .form-control
    {
        background: transparent;
        border: 2px solid #999;
        border-radius: 0;
        box-shadow: none;
        color: #ffffff;
        margin-bottom: 20px;
    }
#contact input
    {
        height: 50px;
    }
#contact input[type="submit"]
    {
        background: #D43F52;
        border: 2px solid transparent;
        color: #ffffff;
        font-weight: bold;
        transition: all 0.4s ease-in-out;
    }
#contact input[type="submit"]:hover
    {
        background: #ffffff;
        color: #D43F52;
    }
/* end contact */

/* start footer */
footer
    {
        border-top: 1px solid #090909;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 20px;
    }
footer hr
    {
        width: 100px;
    }
/* end footer */

/* start social icon */
.social-icon
    {
        position: relative;
        padding: 0;
        margin: 0;
    }
.social-icon li
    {
        display: inline-block;
        list-style: none;
    }
.social-icon li a
    {
        border-radius: 50%;
        color: #606060;
        text-decoration: none;
        transition: all 0.4s ease-in-out;
        text-align: center;
        margin-right: 10px;
    }
.social-icon li a:hover
    {
        color: #D43F52;
    }
/* end social icon */

/* timeline css start */



/* ================ The Timeline ================ */

.timeline {
  position: relative;
  width: 100px;
  margin: 0 auto;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: -234%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80,80,80);
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  width: max-content;
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(248,248,248);
  padding: 6px 10px;
  border-radius: 5px;
  color : black;
  font-weight: 600;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid rgb(255,80,80);
  z-index: 10;
}

.direction-r .flag:before {
  left: -40px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  
  line-height: 1em;
  font-size: 0.66666em;
  color: rgb(250,80,80);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248,248,248);
}

.desc {
  margin: 1em 0.75em 0 0;
  
  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
  width : 40em
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

.timeline {
 	width: 100%;
	padding: 4em 0 1em 0;
}

.timeline li {
	padding: 2em 0;
}

.direction-l,
.direction-r {
	float: none;
	width: 100%;

	text-align: center;
}

.flag-wrapper {
	text-align: center;
}

.flag {
	background: rgb(255,255,255);
	z-index: 15;
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: -30px;
	left: 50%;
	content: ' ';
	display: block;
	width: 12px;
	height: 12px;
	margin-left: -9px;
	background: #fff;
	border-radius: 10px;
	border: 4px solid rgb(255,80,80);
	z-index: 10;
}

.direction-l .flag:after,
.direction-r .flag:after {
	content: "";
	position: absolute;
	left: 50%;
	top: -8px;
	height: 0;
	width: 0;
	margin-left: -8px;
	border: solid transparent;
	border-bottom-color: rgb(255,255,255);
	border-width: 8px;
	pointer-events: none;
}

.time-wrapper {
	display: block;
	position: relative;
	margin: 4px 0 0 0;
	z-index: 14;
}

.direction-l .time-wrapper {
	float: none;
}

.direction-r .time-wrapper {
	float: none;
}

.desc {
	position: relative;
	margin: 1em 0 0 0;
	padding: 1em;
	background: rgb(245,245,245);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	box-shadow: 0 0 1px rgba(0,0,0,0.20);
	
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
	position: relative;
	margin: 1em 1em 0 1em;
	padding: 1em;
	
  z-index: 15;
}

}

@media screen and (min-width: 400px ?? max-width: 660px) {

.direction-l .desc,
.direction-r .desc {
	margin: 1em 4em 0 4em;
}

}

/* timeline css end **/

/*academic achievements card start */

@import url("https://fonts.googleapis.com/css?family=Arbutus+Slab|Open+Sans&display=swap");


ap {
	position: absolute;
	bottom: 0;
	font-size: 15px;
	color: black;
}

.academiccontainer {
	max-width: 900px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
	grid-gap: 48px;
	margin: 0 auto;
}

.academicCard {
	color : black;
	font-size: 20px;
}



.card {
	cursor: pointer;
	position: relative;
	height: 0;
	padding-bottom: 120%;
	--offset-multiplier: 4px;
	transition: transform 0.6s ease;
	--translate: 0;
	transform: translate(var(--translate), var(--translate));
}

.card:hover {
	--offset-multiplier: 6px;
}

.card:hover {
	--translate: calc(-1px * (var(--cards) - 1));
	transition: transform 0.3s ease;
}

.child {
	position: absolute;
	width: 80%;
	height: 60%;
	padding: 0 16px;
	box-sizing: border-box;
	background: #fff;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px -4px 8px rgba(255, 255, 255, 0.8);
	border-radius: 6px;
	transition: inherit;
	--translate: calc(var(--offset) * var(--offset-multiplier));
	transform: translate(var(--translate), var(--translate));
	z-index: 5;
	background: #d33f52;
}

.child:nth-child(1) {
	--offset: 0;
	z-index: 4;
	background: #d33f52;
}

.child:nth-child(2) {
	--offset: 1;
	z-index: 3;
	background: #d33f52;
}

.child:nth-child(3) {
	--offset: 2;
	z-index: 2;
	background: #d33f52;
}

.child:nth-child(4) {
	--offset: 3;
	z-index: 1;
	background: #d33f52;
}

.child:nth-child(5) {
	--offset: 4;
	z-index: 0;
	background: #d33f52;
}
/*academic achievements card end */